.order-edit-panel {
  transform: translateX(100%);
  border: 1px solid #d7dce0;
  border-right: none;
  transition: 0.2s;
  position: absolute;
  opacity: 0;
  top: 65px;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: #ecf3f7;
  width: 975px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  &.visible {
    transition: 0.2s;
    opacity: 1;
    transform: translateX(0);
  }
  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 60px;
    background-color: #1a4876;
    .header-title {
      font-size: 18px;
      color: white;
      display: flex;
      align-items: center;
      span {
        display: block;
      }
      div {
        margin-left: 20px;
        max-width: 650px;
        margin-right: 16px;
        font-weight: 400;
        overflow: hidden;
        font-size: 16px;
        max-height: 40px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    .header-close {
      color: white;
      text-decoration: none;
    }
  }
  .panel-content {
    height: 100%;
    display: flex;
    .content-sidebar {
      max-width: 240px;
      height: 100%;
      width: 100%;
      border-left: 1px solid #d7dce0;
      .sidebar-info {
        padding: 24px;
        .info-list {
          display: flex;
          flex-direction: column;
          .list-item {
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;
            .item-label {
              font-size: 14px;
              color: #a09fa8;
              font-family: "Ubuntu", sans-serif;
              margin-bottom: 4px;
            }
            .item-content {
            }
          }
        }
      }
    }
    overflow-y: auto;
    .order-edit-form {
      width: 100%;
      padding: 38px;
      .form-input-wrapper {
        margin-bottom: 24px;
        max-width: 625px;
        display: flex;
        flex-direction: column;
        p {
          margin: 0;
        }
        span {
          margin-left: 2px;
          font-family: "Ubuntu", sans-serif;
          font-size: 14px;
          color: #9f9ea7;
          font-weight: 400;
          display: block;
          margin-bottom: 12px;
        }
        .input-order-name {
          height: 85px;
        }
        .input-order-description {
          height: 135px;
        }
        input,
        textarea {
          padding: 16px;
          border-radius: 5px;
          border: 1px solid #e8e8e8;
          &:focus {
            outline: none;
          }
        }
      }
      .form-btn {
        margin-top: 56px;
      }
    }
  }
}
