.order-create-panel {
  border: 1px solid #d7dce0;
  border-right: none;
  position: absolute;
  top: 65px;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: #ecf3f7;
  width: 975px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 60px;
    background-color: #1a4876;
    .header-title {
      font-size: 18px;
      color: white;
      display: block;
    }
    .header-close {
      color: white;
      text-decoration: none;
    }
  }
}
