.table-wrapper {
  margin-top: 16px;
  table {
    border-collapse: separate;
    border-spacing: 0 4px;
    width: 100%;
  }
  .table-header {
    tr {
      th {
        color: #404147;
        font-size: 16px;
        font-weight: normal;
        padding-left: 12px;

        &:not(:first-child) {
          border-left: 1px solid #dae0e7;
        }
      }
    }
  }
  .table-body {
    tr {
      height: 50px;
      td {
        border-top: 1px solid #dae0e7;
        padding-left: 12px;
        &:first-child {
          position: relative;
          padding: 0;
          padding-left: 24px;
          .cell-border {
            background-color: #b32c55;
            position: absolute;
            border-radius: 1.5px;
            top: 2px;
            left: 2px;
            bottom: 2px;
            width: 5px;
            height: 49px;
          }
        }
      }
    }
  }
}
