.grid-table {
  .table-columns {
    top: 0;
    z-index: 2;
    position: sticky;
    background-color: white;
    .table-header-col {
      padding: 8px 8px;
      border-bottom: 1px solid #dae0e7;
      .col-content {
        font-family: "Ubuntu", sans-serif;
        color: #404147;
      }
      &:not(:last-child) {
        .col-content {
          border-right: 1px solid #dae0e7;
        }
      }
    }
  }
  .table-rows {
    .table-row {
      cursor: pointer;
      &:hover {
        transition: 0.2s;
        background-color: #d2e1ee;
      }
      transition: 0.2s;
      border-bottom: 1px solid #dae0e7;
      height: 54px;
      .row-cell {
        align-items: center;
        display: flex;
        padding: 0 8px;
        .cell-content {
          display: flex;
          align-items: center;
        }
        &.cell-id {
          padding: 0 4px;
        }
        &.cell-name {
          .cell-content {
            overflow: hidden;
            color: #525460;
            font-size: 16px;
            max-height: 40px;
            line-height: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}
.grid-table .table-columns .table-header-col {
  &.id-col {
    padding-left: 30px;
  }
}
